html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #ff0000, #f8f8f8, #715656);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(79, 0, 251, 0.305);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;height: 75px;width: 75px;
}

#login_button
{
	width: 80%;border-radius: 15px;background-color: aqua;
}

.room_name
{
	cursor: pointer;
}
#logout{
	border-radius: 15px;
	background-color: brown; 
	color:white;
	padding: 7px;
	margin:5px
}
#container{
	text-align: right;
}
#room_name{
	border-radius: 3px;
	width: 250px;
}